<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6">
            <form class="container bg-white py-4 text-black" action="login" method="post">
<label for="user" class="form-label">Nombre del Usuario</label>
            <input id="user" type="text" name="user" class="form-control" autofocus>
           <label for="pass" class="form-label">Contraseña</label>
            <input id="pass" type="password" name="pass" class="form-control">
            <button type="submit" class="btn btn-primary my-2">Enviar</button>
            
            </form>
            <p class="text-black">{{message}}</p>
        </div>
    </div>
</div>